body{
   font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	margin: 20px;
	padding:0px;
	line-height: 20px;
}

div#wrapper {
margin-left:auto;
margin-right:auto;
max-width:1200px;
}

div#wrapper0 {
margin-left:auto;
margin-right:auto;
max-width:1000px;
}

table {
    font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	margin:2px;
	padding:2px;
}

#table table, #calendar table {
    font:14px/18px verdana, arial, helvetica, sans-serif;
}

#calendar th, #calendar td {
    padding:5px;
    width:100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#calendar th.noborder {
    border: 1px solid transparent;
    padding:0px;
    width:75%;
}

th, td {
    padding: 10px;
    text-align: center;
}
		
h1 {
    font-size:28px;
    font-weight:bold;
	margin-left: 0px;
	margin-top: 8px;
	line-height: 30px;
}
	
h2 {
	font-size: 24px;
	margin-left: 0px;
	margin-top:5px;
	line-height: 26px;
}
	
h3 {
	font-size: 20px;
	margin-left: 0px;
	margin-top:5px;
    margin-bottom:5px;
}
	
h4 {
	font-size: 18px;
	margin-left: 0px;
	margin-top:10px;
}
	
p {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
}

ul {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin: 10px 0px 0px 16px;
	padding:2px;
}
	
li {
  margin-bottom: 8px;
  }

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f5f5f0;
}

#menu ul li {
    float: left;
    display: block;
    margin: 10px;;
    padding: 10px;
    background-color: #1a8cff;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

#menu ul li:hover {background-color:green;}

#menu ul li.active {
    background-color:#4CAF50;
}

.greek {
    font-family: serif;
    font-size: 130%;
}

.ref {
    color:green;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    width:40px;
    padding: 4px;
    -moz-appearance:textfield;
}

input[type=button] {
    background-color: #6600ff;
    color:white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 2px;
    cursor: pointer;
}